GATSBY_SANITY_PROJECT_ID="303rchum"
GATSBY_SANITY_DATASET="development"

# Rename this file to .env.development for local development.
# Note: After renaming – DO NOT commit this file to git!
SANITY_READ_TOKEN=""

